<div id="home">

  <div class="container">
      <div class="jumbotron jumbotron-fluid">
          <div class="container text-center">
              <h1 class="display-4">
                  <a href="/">
                    <!--Homepage Image Logo-->
                    <img id="brandLogo" src="images/logo.png">
                  </a>
              </h1>
              <h2 id="tagline">Insert tagline or text about the website</h2>
          </div>
      </div>



  <div class="row">
    <div class="col-12 text-center">
      <h3>Choose an option to continue</h3>
       <a href="/student"> <button id="studentButton"  class="btn btn-primary btn-lg btn-block">Student</button></a>
       <a href="/teacher"> <button id="teacherButton" href="/teacher" class="btn btn-primary btn-lg btn-block">Teacher</button> </a>
    </div>
  </div>


<div class="footer">
    <div class="col-md-12">
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <a class="nav-link" href="https://github.com/cclivick/project-revolution">GitHub Repository</a>  
                <p class="navbar-text navbar-right">website name &copy; 2019</p>
            </div>
        </nav>
    </div>
</div>

</div>

{{!-- end of "home" div--}}
</div>
