<div class="header">
    <div class="grid-container">
        <div class="container text-center">
            <h1 class="display-4">
                <a href="/">
                    <!--Homepage Image Logo-->
                    <img id="brandLogo" src="images/logo.png">
                </a>
            </h1>
        </div>
   </div> 
</div>

<div class="tagline">
    <div class="grid-container text-center">
            <!--Tagline Image Logo-->
            <img id="taglineLogo" src="images/tagline.png">
        </div>
    </div>
</div>

<div class="row" id="logIn">
    <h3>Login to your Account</h3>
</div>
<div class="grid-x">
    <div class= "cell small-12" id="indexButtons">
        <a href="/student" id="studentButton"  class="button expanded">Student</a>
        <a href="/teacher" id="teacherButton" class="button expanded">Teacher</a>
    </div>
</div>


