body {
  background: url("../images/classroom.jpeg") no-repeat fixed;
  background-size: cover;
  background-color: black;
  font-family: 'Barlow', sans-serif;
  font-size: 100%;
}

#top-bar {
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  flex-shrink: 0;
  padding-left: 4%;
  padding-right: 12%;
}

#top-bar-logo {
  width: 20%;
  height: 20%;
}

.header {
  background: url("../images/classroom.jpeg") no-repeat fixed;
  background-size: cover;
  flex-shrink: 0;
  margin-top: 3%;
}

#brandLogo {
  width: 50%;
  height: 50%;
  padding-left: 20px;
}

#logIn {
  text-align: center;
  color: white;
}
#indexButtons {
  margin-bottom: 15%;
}

/* .tagline {
  margin: 0%;
  padding: 0%;
}

#tagline {
  font-family: 'Barlow', sans-serif;
  font-size: 200%;
  font-weight: bold;
  text-decoration: underline;
  color: rgba(13, 104, 240);
  text-shadow: 2px 2px rgb(3, 38, 90);
  padding-bottom: 10px;
  padding-top: 10px;
  align-items: center;
} */

#homepageFooter {
  height: 50px;
  margin-top: 5%;
  background-color: rgba(13,104,240,.8);
  color: white;
  position: relative;
  bottom: 0;
  width: auto;
  padding-top: 1%
}

@media (max-width: 500px) {
  #homepageFooter {
    position: absolute;
    margin-top: 10%;
    bottom: 0;
    width: 100%;
  }
}

.footer {
  height: 50px;
  margin-top: 5%;
  background-color: rgba(13,104,240,.8);
  color: white;
  position: relative;
  bottom: 0; 
  width: auto;
  padding-top: 1%;
}

@media (max-width: 500px) {
  .footer {
    margin-top: 10%;
    position: absolute;
    bottom:0;
    width: 100%;
  }
}
@media (max-width: 1250px) {
  #wolfram, #teacherForm {
    margin: 30px;
  }
}

#studentPageLink {
  font-size: 100%;
  font-family: 'Barlow', sans-serif;
  color: white;
}

#github {
  text-align: left;
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 12%;
}

#copyright {
  text-align: right;
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 60%;
}

#studentButton, #teacherButton {
  margin: auto;
  margin-top: 10px;
  background-color: rgba(13, 104, 240, 0.8);
  width: 55%;
  -webkit-appearance: push-button;
  border-radius: 10px;
  font-size: x-large;
}

.list-group-item {
  line-height: 2.5;
}

.questionsForm {
  margin-bottom: 25px;
  border-radius: 10px;
}
.currentquestion {
  text-align: center;
}

#countriesVS {
  font-weight: bold;
}

#setTopic, #classAnswers {
font-weight: bold;
margin-bottom: 25px;
margin-top: 0px;
}

#teacherForm {
  background-color: rgba(13, 104, 240, 0.8);
  margin-bottom: 25px;
  margin-top: 25px;
  border-radius: 10px;
  padding: 15px; 
}

#studentAnswersTable {
  margin-bottom: 25px;
  border-radius: 10px;
}

.studentAnswers {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  text-align: left;
}

.teacherInput {
  width: 100%;
}

#country1, #country2, #question1, #question2, #question3 {
  border-radius: 6px;
  padding: 5px;
  margin: 2px;
}

#comment {
  padding-left: 20px;
  padding-bottom: 105px;
  padding-right: 23px;
  height: 150px;
  width: 98%;
  margin-left: 10px;
  margin-right: 10px;
}

#student_name {
  margin-left: 10px;
  margin-right: 10px;
  height: 39px;
  width: 155px;
}

#submitButtonRow {
  margin-top: 10px;
}

#submitQuest {
  border-radius: 6px;
  padding: 15px;
  height: 45px;
  color: white;
  margin: 10px;
  background-color: rgb(3, 38, 90);
  margin-right: 74%;
}

#submitAns {
  border-radius: 6px;
  padding: 15px;
  height: 45px;
  color: white;
  margin: 10px;
  background-color: rgb(3, 38, 90);
  margin-right: 74%;
}

#viewarchive {
  align-items: right;
  border-radius: 6px;
  padding: 15px;
  height: 45px;
  color: white;
  margin: 10px;
  background-color: rgb(3, 38, 90);
}

#wolfram {
  background-color: rgba(13, 104, 240, 0.8);
  margin-bottom: 25px;
  margin-top: 25px;
  border-radius: 10px;
  padding: 25px; 
}

h1, h2, h3 {
  font-family: 'Barlow', sans-serif;
}